.gradle/
*-merged.jar
*-mapped.jar
*-intermediary.jar
*.DS_Store
build/
out/
mappings_official/
enigma.jar

# idea
.idea/
*.iml
*.iws
*.ipr
*.jar

# eclipse
*.launch
.classpath
.eclipse

# vscode
*.code-workspace
enigma.sh

*~
