.gradle/
*-merged.jar
*-mapped.jar
*-intermediary.jar
*.DS_Store
build/
out/
run/
mappings_official/
enigma.jar
namedSrc/

# idea
.idea/
*.iml
*.iws
*.ipr
*.jar

# eclipse
.eclipse
.classpath
.project
.settings/
.pydevproject

# vscode
*.code-workspace
enigma.sh

/mappings.zip
/bin/
