name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: openjdk:17-jdk
      options: --user root
    strategy:
      matrix: 
        mc_version: [
            '1.3.2',
            '1.4.7',
            '1.5.2',
            '1.6.4',
            '1.7.10',
            '1.8.9',
            '1.9.4',
            '1.10.2',
            '1.11.2',
            '1.12.2'##,
            ##'1.13.2'
        ]
    env: 
        MC_VERSION: ${{ matrix.mc_version }}
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew build javadocJar checkMappings mapNamedJar --stacktrace
      - run: ./gradlew publishToMavenLocal
      - run: cd test-mod && ./gradlew build
