name: Build
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        mc_version: [
          '1.8.2','1.8.3','1.8.4','1.8.5','1.8.6','1.8.7','1.8.8','1.8.9',
          '1.9','1.9.1','1.9.2','1.9.3','1.9.4',
          '1.10','1.10.1','1.10.2',
          '1.11','1.11.1','1.11.2',
          '1.12','1.12.1','1.12.2',
          '1.13','1.13.1','1.13.2',
        ]
    env: 
        MC_VERSION: ${{ matrix.mc_version }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - run: python ./yarn.py $MC_VERSION build javadocJar checkMappings mapNamedJar --stacktrace
      - run: python ./yarn.py $MC_VERSION publishToMavenLocal --stacktrace
      - run: cd test-mod && ./gradlew build genSources
