name: Build
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        mc_version: [
          '18w43b,3D Shareware v1.34',
          '1.14,1.14.1,1.14.2',
          '1.14.3,1.14.4'
        ]
    env: 
        MC_VERSION: ${{ matrix.mc_version }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - run: python build_all.py
        env:
          MC_VERSIONS: ${{ matrix.mc_version }}
