name: Publish Other Versions

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        mc_version: [
          '1.3,1.3.1',

          '1.4,1.4.1,1.4.2,1.4.3,1.4.4,1.4.5,1.4.6',

          '1.5,1.5.1',

          '1.6,1.6.1,1.6.2,1.6.3',

          '1.7,1.7.1,1.7.2,1.7.3,1.7.4,1.7.5,1.7.6-pre1,1.7.6-pre2,1.7.6',
          '1.7.7,1.7.8,1.7.10-pre1,1.7.10-pre2,1.7.10-pre3,1.7.10-pre4',

          '1.8.1-pre1,1.8.1-pre2,1.8.1-pre3,1.8.1-pre4,1.8.1-pre5',
          '1.8.2-pre1,1.8.2-pre2,1.8.2-pre3,1.8.2-pre4,1.8.2-pre5,1.8.2-pre6,1.8.2-pre7',
          '1.8.1,1.8.2,1.8.3,1.8.4,1.8.5,1.8.6,1.8.7,1.8.8',

          #'13w11a,13w47a,13w47b,13w47c,13w47d,13w47e,13w48a,13w48b,13w49a',
          #'15w14a',

          #'2point0_blue,2point0_purple,2point0_red'
        ]
    env: 
        MC_VERSION: ${{ matrix.mc_version }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: python -u ./ci.py "$MC_VERSION" publish
        env:
          MAVEN_PUBLISH_CREDENTIALS: ${{ secrets.MAVEN_PUBLISH_CREDENTIALS }}
