name: Build and Publish
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        mc_version: [
            '1.3.2',
            '1.4.7',
            
            '1.5','1.5.1','1.5.2',
            
            '1.6.4',
            
            '1.7','1.7.1','1.7.2','1.7.3','1.7.4','1.7.5','1.7.6-pre1','1.7.6-pre2','1.7.6',
            '1.7.7','1.7.8','1.7.10-pre1','1.7.10-pre2','1.7.10-pre3','1.7.10-pre4','1.7.10',
            
            '1.8.1-pre1','1.8.1-pre2','1.8.1-pre3','1.8.1-pre4','1.8.1-pre5',
            '1.8.2-pre1','1.8.2-pre2','1.8.2-pre3','1.8.2-pre4','1.8.2-pre5','1.8.2-pre6','1.8.2-pre7',
            '1.8','1.8.1','1.8.2','1.8.3','1.8.4','1.8.5','1.8.6','1.8.7','1.8.8','1.8.9',
            
            '1.9.4',
            '1.10.2',
            '1.11.2',
            '1.12.2',
            '1.13.2',
            
            '13w11a','13w47a','13w47b','13w47c','13w47d','13w47e','13w48a','13w48b','13w49a',
            '15w14a'
        ]
    env: 
        MC_VERSION: ${{ matrix.mc_version }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3.0.0
        with:
          python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64'
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - run: python ./prepare_yarn.py $MC_VERSION
      - uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew publishToMavenLocal --stacktrace
      - run: cd test-mod && ./gradlew build
      
  publish:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        mc_version: [
            '1.3.2',
            '1.4.7',
            '1.5.2',
            '1.6.4',
            '1.7.10',
            '1.8','1.8.9',
            '1.9.4',
            '1.10.2',
            '1.11.2',
            '1.12.2',
            '1.13.2',
        ]
    env: 
        MC_VERSION: ${{ matrix.mc_version }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3.0.0
        with:
          python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64'
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - run: python ./prepare_yarn.py $MC_VERSION
      - uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew publish --stacktrace
        env:
          MAVEN_PUBLISH_TOKEN: ${{ secrets.MAVEN_PUBLISH_TOKEN }}
