name: Build and Publish
on:
 workflow_dispatch:
 push:
    branches: 1.14.x-upstream

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mc_version: [
          "18w43b,18w43c,18w44a,18w45a,18w46a,18w47a,18w47b",
          "18w48a,18w48b,18w49a,18w50a,19w02a,19w03a,19w03b",
          "19w03c,19w04a,19w04b,19w05a,19w06a,19w07a,19w08a",
          "19w08b,19w09a,19w11a,19w11b,19w12a,19w12b,19w13a",
          "19w13b,19w14a,19w14b,3D Shareware v1.34",

          "1.14 Pre-Release 1,1.14 Pre-Release 2,1.14 Pre-Release 3,1.14 Pre-Release 4,1.14 Pre-Release 5,1.14.1 Pre-Release 1,1.14.1 Pre-Release 2",

          "1.14.2 Pre-Release 1,1.14.2 Pre-Release 2,1.14.2 Pre-Release 3,1.14.2 Pre-Release 4,1.14.3-pre1,1.14.3-pre2,1.14.3-pre3",

          "1.14.3-pre4,1.14.4-pre1,1.14.4-pre2,1.14.4-pre3,1.14.4-pre4,1.14.4-pre5,1.14.4-pre6,1.14.4-pre7",

          "1.14",
          "1.14.1,1.14.2,1.14.3,1.14.4",
        ]
    env:
      MC_VERSION: ${{ matrix.mc_version }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - run: python3 build_all.py
        env:
          MC_VERSIONS: ${{ matrix.mc_version }}
  publish:
   needs: build
   runs-on: ubuntu-latest
   strategy:
     matrix:
       mc_version: [
         "18w43b,18w43c,18w44a,18w45a,18w46a,18w47a,18w47b",
         "18w48a,18w48b,18w49a,18w50a,19w02a,19w03a,19w03b",
         "19w03c,19w04a,19w04b,19w05a,19w06a,19w07a,19w08a",
         "19w08b,19w09a,19w11a,19w11b,19w12a,19w12b,19w13a",
         "19w13b,19w14a,19w14b,3D Shareware v1.34",

         "1.14 Pre-Release 1,1.14 Pre-Release 2,1.14 Pre-Release 3,1.14 Pre-Release 4,1.14 Pre-Release 5,1.14.1 Pre-Release 1,1.14.1 Pre-Release 2",

         "1.14.2 Pre-Release 1,1.14.2 Pre-Release 2,1.14.2 Pre-Release 3,1.14.2 Pre-Release 4,1.14.3-pre1,1.14.3-pre2,1.14.3-pre3",

         "1.14.3-pre4,1.14.4-pre1,1.14.4-pre2,1.14.4-pre3,1.14.4-pre4,1.14.4-pre5,1.14.4-pre6,1.14.4-pre7",

         "1.14",
         "1.14.1,1.14.2,1.14.3,1.14.4",
       ]
   env:
       MC_VERSION: ${{ matrix.mc_version }}
   steps:
     - uses: actions/checkout@v4
     - uses: actions/setup-python@v5
       with:
         python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
     - uses: actions/setup-java@v4
       with:
         distribution: 'temurin' # Se
         java-version: '21'
     - run: python3 publish.py
       env:
         MC_VERSIONS: ${{ matrix.mc_version }}
         MAVEN_PUBLISH_CREDENTIALS: ${{ secrets.MAVEN_PUBLISH_CREDENTIALS }}
