name: "Check spelling"

on:
  pull_request:
  push:

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: streetsidesoftware/cspell-action@v3
        with:
          config: "cspell.config.json"
          files: "mappings/**/*.mapping"
          incremental_files_only: false
